{% extends 'animal/index.html' %}

{% block title %}
        {{ object.nombre }}
{% endblock title %}

{% block content_animal %}
    <ul>
        <li>Edad: {{ object.edad }}</li>
        <li>Organizacion: {{ object.organizacion_id }}</li>
        <li>Tipo de Animal: {{ object.tipo_animal_id }}</li>
        <li>Sexo: {{ object.sexo_id }}</li>
        <li>Personalidad: {{ object.personalidad }}</li>
        <img src="{{ object.foto.url }}" alt="20px" width="300"></li>
    </ul>

    {% url 'animal:index' as url %}
  
{% endblock content_animal %}