{% extends 'animal/index.html' %}

{% block title %}
    Listado de Animales
{% endblock title %}

{% block content_animal %}


{% for animal in animales %}
</div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">{{animal.nombre}}</h2>
            <p class="card-text">{{animal.organizacion_id}}</p>
        </div>
        <div class="card-footer">
            <a class="btn btn-info" href="{% url 'animal:animal_detail' animal.id %}">Detalles</a>
                {% if user.is_staff %}
                    <a class="btn btn-success" href="{% url 'animal:animal_update' animal.id %}">Editar</a>
                    <a class="btn btn-danger" href="{% url 'animal:animal_delete' animal.id %}">Eliminar</a>   
            
                {% endif %}

        </div>
    </div>
{% endfor %}
{% endblock content_animal %}
