{% extends 'animal/index.html' %}
{% load static %}
{% block title %}
    Listado de Animales
{% endblock title %}

{% block content_animal %}

{% block search %}
<div class="py-lg-4">
    <form action="{% url 'animal:animal_list' %}" method="get">
        <input name="consulta" type="text" placeholder="Buscar...">
    </form>
</div>
{% endblock search %}

{% block table_header %}
    <tr>
        <th>Resultados de Búsqueda</th>

    </tr>
{% endblock table_header %}

{% for object in object_list %}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <h5 class="card-title">{{object.nombre}}</h5>
                        <p class="card-text">Edad: {{object.edad}}</p>
                        <p class="card-text">Tipo de Animal: {{object.tipo_animal_id}}</p>
                        <h1> </h1>
                        <a href="{% url 'animal:animal_detail' object.id %}" class="btn btn-primary">Detalles</a>
                        <h1></h1>
                        {% if user.is_staff %}
                        <a href="{% url 'animal:animal_update' object.id %}" class="btn btn-primary">Editar</a>
                        <h1></h1>
                        <a href="{% url 'animal:animal_delete' object.id %}" class="btn btn-primary">Eliminar</a>
                        {% endif %}
                    </div>
                    <div class="col-sm-6 text-right">
                        <img class="" src="{{ object.foto1.url }}" alt="sans" width="200px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>

</div>

  {% endfor %}
{% endblock content_animal %}
