{% extends 'home/base.html' %}

{% load static %}

{% block content %}

    {% if request.user.is_authenticated %}
        <h3 class="d-flex align-items-center">Bienvenidx, {{ user.username }}
        {% if user.usuario.avatar.url %}
            <img src="{{ user.usuario.avatar.url}}" alt="avatar" style="height: 30px;" />
        
        {% else %}
            <img src="{% static 'home/avatares.png' %}" alt="avatar" style="height: 30px;" />
        {% endif %}   
       
        </h3>   
    {% endif %}

    {% if user.is_staff %}
    <a class="btn btn-info" href={% url 'admin:index' %}>Ir a Administración</a>
    {% endif %}

<div class="row gx-4 gx-lg-5 align-items-center my-5">
    <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'home/img/Imagen_Principal_Transitos.webp' %}" alt="..." /></div>
    <div class="col-lg-5">
        <h1 class="font-weight-light">¡Transita una mascota!</h1>
        <p>Sumate a la red de hogares de tránsito para salvar vidas. Quizás no puedas adoptar un animal de compañía pero sí brindar un hogar transitorio hasta su adopción definitiva.</p>
        <a class="btn btn-info" href="{% url 'animal:hogartransitocreate' %}">Formulario</a>
    </div>
</div>
<!-- Call to Action-->
<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body"><p class="text-white m-0">Ayudamos a establecer un nexo entre organizaciones defensoras de animales que necesitan hogares transitorios para animales en adopción y personas dispuestas a ofrecer su hogar y cuidados.</p></div>
</div>


<!-- Content Row-->

</div>
{% endblock content %}