<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Red de Hogares de Tránsito</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif  %}" aria-current="page" href="#!">Inicio</a></li>

                {% if user.is_authenticated %}

                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif  %}" href="#!">Animales</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif  %}" href="#!">Organizaciones</a></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif  %}" href="{% url 'home:editarPerfil' %}">Hola, {{ user.username }}!</a></li>                   
                    <li class="nav-item"> <img height="40px" src="{{url}}" alt="Avatar"></h3></li>
                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif  %}" href="{% url 'home:logout' %}">Logout</a></li>  
                {% else %}

                    <li class="nav-item"><a class="nav-link {% if request.path == '/' %} active {% endif  %}" href="#!">Sobre Nosotros</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'home:login' %}">Login</a></li>

                {% endif %}
            </ul>
        </div>
    </div>
</nav>