{% extends 'home/base.html' %}

{% block content %}
    <h1 class="shadow-lg text-center">Organizaciones</h1>
    <div class="container mt-lg-3">
        <h3 class="pb-lg-3">


        </h3>

        {% block content_organizacion %}
        
        <div class="card text-bg-dark mb-3">
            <div class="card-body">
                <h5 class="card-title">Refugios y Protectoras de Animales </h5>
              <p class="card-text">Las organizaciones detalladas están a cargo de la adopción final de los animales, así como tratamiento y gastos inherentes a </p>
              <a href="{% url 'organizacion:organizacion_list' %}" class="btn btn-info">Listar</a>
              {% if user.is_staff %}
              <a href="{% url 'organizacion:organizacion_create' %}" class="btn btn-info">Crear</a>
                {% endif %}
            </div>
          </div>
            <div class="">    
        
        
        <div class="">
                
                
                

            <h2></h2>    
                <br>
            </div>
        {% endblock content_organizacion %}
    </div>
{% endblock content %}