{% extends 'organizacion/index.html' %}

{% block content_organizacion %}
{% block search %}
<div class="py-lg-4">
    <form action="{% url 'organizacion:organizacion_list' %}" method="get">
        <input name="consulta" type="text" placeholder="Buscar...">
    </form>
</div>
{% endblock search %}

{% block table_header %}
    <tr>
        <th>Nombre de categoría</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
{% endblock table_header %}
 
{% block table_body %}
    {% for object in object_list %}
        <tr>
            <td>{{ object.nombre }}</td>
            {% if user.is_staff %}    
            <td>
                <a href="{% url 'animal:animal_update' object.id %}"
                   class="btn btn-primary btn-sm">Actualizar</a>
            </td>
            <td>
                <a href="{% url 'animal:animal_delete' object.id %}"
                   class="btn btn-danger btn-sm">Eliminar</a>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
{% endblock table_body %}

{% endblock content_organizacion %}