{% extends 'organizacion/index.html' %}

{% block title %}
    Lista de Organizaciones
{% endblock title %}

{% block content_organizacion %}
    {% for organizacion in organizaciones %}
    </div>
</div>
<div class="col-md-4 mb-5">
    <div class="card h-100">
        <div class="card-body">
            <h2 class="card-title">{{organizacion.nombre}}</h2>
            <p class="card-text">{{organizacion.email}}</p>
        </div>
        <div class="card-footer">
            {% if user.is_staff %}
            <a class="btn btn-primary btn-sm" href="{% url 'organizacion:organizacion_update' organizacion.id %}">Editar</a>
            <a class="btn btn-danger" href="{% url 'organizacion:organizacion_delete' organizacion.id %}">Eliminar</a>   
            
            {% endif %}

        </div>
    </div>
    {% endfor %}


{% endblock content_organizacion %}